* {
    color: #{options[:color]};
}

window.background {
    background-color: #{options[:background]};
}

button {
    background-image: none;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #{options[:color]};
}

button:hover {
    border: 1px solid #73BA25;
}

button.sway_ws_button {
  padding: 3px;
}

button.sway_ws_button.focus {
  border: 1px solid #73BA25;
  color: blue;
}
